* {
    font-family: "Hind", sans-serif;
}

h2 {
    padding-top: 1rem;
}

article {
    font-size: larger;
}

.global-links {
    font-size: larger;
}

.global-links h5 {
    font-weight: bold;
}

.global-links a {
    text-decoration: none;
    color: #3F3682;
    font-weight: 600;
}

.global-links ul {
    list-style: none;
}

:root,
.pagination {
    --theme-primary-color: #3F3682;
    --bs-link-color: var(--theme-primary-color) !important;
    --bs-link-hover-color: var(--theme-primary-color) !important;
    --bs-pagination-active-bg: var(--theme-primary-color) !important;
    --bs-pagination-active-border-color: var(--theme-primary-color) !important;
}

code {
    font-size: 1.1rem !important;
    white-space: pre-wrap;
}

/* callouts */
div.colist.arabic ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;
}

div.colist.arabic ol>li {
    counter-increment: item;
    position: relative;
    padding-left: 25px;
}

div.colist.arabic ol>li::before {
    content: "(" counter(item) ") ";
    position: absolute;
    left: 0;
    font-weight: 500;
}

/* text styling */
.line-through {
    text-decoration: line-through;
    margin-right: 0.2rem;
}

/* code border */
pre {
    border: 2px solid #3F3682;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px #3F3682;
}

/* inline code styling override */
p>code {
    --bs-code-color: black;
    font-weight: bold;
    font-style: italic;
}

/* conum color does not depend if nested in a span or not */
b.conum {
    color: black;
}

/* alert inline code color/style overrides */
div.alert div.paragraph>p>code {
    /* there bold+italic would be pretty much not readable */
    font-weight: normal;
    font-style: normal;
}

div.alert.alert-success div.paragraph>p>code {
    color: var(--bs-success);
}

div.alert.alert-primary div.paragraph>p>code {
    color: var(--bs-primary);
}

div.alert.alert-danger div.paragraph>p>code {
    color: var(--bs-danger);
}

div.alert.alert-warning div.paragraph>p>code {
    color: var(--bs-warning);
}

div.alert.alert-info div.paragraph>p>code {
    color: var(--bs-info);
}