<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Redirecting...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0;URL='@Model.Document.Header.Attributes["redirect"]'" />
    <link rel="stylesheet" href="/css/spinner.css?v=1" />
</head>

<body class="spinner-container" style="height: 100vh;">
    <div class="spinner">
        <div class="spinner-text">.NETBirdie</div>
    </div>
</body>

</html>